# Top-most EditorConfig file
root = true

[*]
indent_style = spaces

[*.cs]
indent_size = 4

[*.razor]
indent_size = 4

[*.json]
indent_size = 2

[*.sql]
indent_size = 4

# Code-block preferences
csharp_prefer_braces = true
csharp_prefer_simple_using_statement = true
csharp_style_namespace_declarations = file_scoped
csharp_style_prefer_method_group_conversion = true
csharp_style_prefer_primary_constructors = true
csharp_style_prefer_top_level_statements = true
